# Exploration exercises

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats

import warnings
warnings.filterwarnings('ignore')
import seaborn as sns
import wrangle

In [2]:
train, validate, test = wrangle.wrangle_zillow()

In [3]:
train.head()

,bedrooms,bathrooms,indoor_sqft,tax_value,yearbuilt,tax_amount,fips,sale_date
51735,3,3.0,2878,119273,1983,2264.63,6037,1505347200000000000
30756,3,2.0,1272,298739,1955,3877.47,6037,1497225600000000000
33234,3,2.0,1472,156485,1977,1531.40,6059,1498089600000000000
47705,4,2.0,1233,197034,1955,2305.46,6111,1503619200000000000
4895,4,3.0,1951,298610,1979,4174.00,6037,1485907200000000000