# Scaling Exercises

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats
import sklearn.preprocessing

import os
import wrangle
from env import host, user, password
from scipy import stats
from sklearn.model_selection import train_test_split

import warnings
warnings.filterwarnings('ignore')
import seaborn as sns

In [5]:
houses = wrangle.wrangle_zillow()

In [6]:
houses.head()

,bedroomcnt,bathroomcnt,indoor_squarefeet,taxvalue,yearbuilt,taxamount,fips,transactiondate
0,4,3.5,3100,1023282,1998,11013.72,6059,2017-01-01
1,2,1.0,1465,464000,1967,5672.48,6111,2017-01-01
2,3,2.0,1243,564778,1962,6488.30,6059,2017-01-01
3,4,3.0,2376,145143,1970,1777.51,6037,2017-01-01
4,4,3.0,2962,773303,1950,9516.26,6037,2017-01-01

In [7]:
houses.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52301 entries, 0 to 52441
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   bedroomcnt         52301 non-null  int64
 1   bathroomcnt        52301 non-null  float64
 2   indoor_squarefeet  52301 non-null  int64
 3   taxvalue           52301 non-null  int64
 4   yearbuilt          52301 non-null  int64
 5   taxamount          52301 non-null  float64
 6   fips               52301 non-null  int64
 7   transactiondate    52301 non-null  object
dtypes: float64(2), int64(5), object(1)
memory usage: 3.6+ MB

In [15]:
def train_validate_test_split(houses, seed=175):
    '''
    This function takes in a dataframe (DF) and an integer for setting a seed
    and splits the data into train, validate and test. 
    Test is 20% of the original dataset, validate is .30*.80= 24% of the 
    original dataset, and train is .70*.80= 56% of the original dataset. 
    The function returns train, validate and test DF. 
    '''
    train_validate, test = train_test_split(houses, test_size=0.2, 
                                            random_state=seed)
    train, validate = train_test_split(train_validate, test_size=0.3, 
                                       random_state=seed)
    return train, validate, test

In [16]:
train, validate, test = train_validate_test_split(houses)
train

,bedroomcnt,bathroomcnt,indoor_squarefeet,taxvalue,yearbuilt,taxamount,fips
263093,2,1.0,820,213245,1923,2612.07,6037
2147138,3,2.0,1558,457000,1954,4039.32,6037
1837837,3,1.0,1175,60502,1952,940.98,6059
2025105,4,3.0,2843,174749,1963,2430.81,6037
1116049,5,3.0,2923,798893,1995,9322.08,6037
...,...,...,...,...,...,...,...
544822,3,2.0,1376,133795,1946,2049.37,6037
853671,3,2.0,1804,970960,1926,11683.62,6037
682861,3,2.0,1689,605170,1976,7295.05,6037
1699142,4,2.5,2041,265781,1957,3193.16,6059
465717,2,1.0,876,218794,1947,3348.40,6037